@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Exam2</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Exam2</h2>
        <p>
            Exam2 Question 2
            2.	Write source code to demonstrate your example with MVC .NET. This is similar to the content you have learned in the week of March 23. Push your complete project in the GitHub repository and the URL in this document.
        </p>
    </div>
    <div class="col-md-4">
        <h2>As Answer i Build it from scratch</h2>
      
        <p> I have created 3 Entities That is Employee, Project and Billing where billing is an associative entity. Every Employee when assigned to a project will have a billing rate</p>
        
    </div>
    
</div>